<div class="span4">
      <div class="hero-unit">
      <%= image_tag @user.gravatar_url(:rating => 'R', :secure => true,:size=>80),class:"img-rounded" %> 
     
      </div>
    </div>

     </div>
</div>
<div>