<html>
<h1> 课程列表 </h1>
<table class="table table-hover table-striped">
	  <thead>  
	<tr>
		<th> 课程序号 </th> 
		<th> 课程名称 </th>
		<th> 任课教师 </th>
	</tr>
	  </thead>                       
	<tbody>
	<% @course_years.each do |c| %>
	<tr>
		<td><%= c.course.course_id %></td>
		<td><%= c.course.name %></td>
		<td><%= c.course.teacher.name %></td>
		<td><%= link_to "View" , course_year_assignments_path(c) %></td>
	</tr>
	<% end %>  
	</tbody>
</table>
</html>
	